<html>
<head>
    <title>Surreality Games - {{title}}</title>
    <link rel="stylesheet" href="/assets/style.css">
    </head>
<body>
    
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            </ul>
        </nav>
    <h2>{{title}}</h2>
    
    {{content | safe}}
</body>
</html>