html, body{
    margin: 0;
    padding: 0;
}

body{
    max-width: 40rem;
    margin: 0 auto;
}

nav ul
{
    list-style: none;
    display: flex;
    background-color: aquamarine;
}

nav ul li {
    padding: 5px;
}